<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @poem, partial: "card", as: :poem %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "poems/poem_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "poems/poem_likes" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "poems/poem_supporters" %>
  </div>
</div>
  <!-- Show Page Customization end -->
