<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Poems

    <a data-toggle="collapse" href="#poet_poems_new_form">
      Add poem
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @poet.poems.each do |poem| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to poem, poem %>

        <%= link_to poem, method: :delete, data: { confirm: "Do you really want to delete this poem" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="poet_poems_new_form">
        <%= render partial: "poets/poet_poems_new_form" %>
      </div>
    </div>

  </ul>
</div>
