<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Received Friend Requests

    <a data-toggle="collapse" href="#poet_received_friend_requests_new_form">
      Add friend request
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @poet.received_friend_requests.each do |friend_request| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to friend_request, friend_request %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to friend_request, method: :delete, data: { confirm: "Do you really want to delete this friend_request" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="poet_received_friend_requests_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "poets/poet_received_friend_requests_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
